@import url("https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@400;700&family=Josefin+Sans:wght@300&family=Kumbh+Sans:wght@400;700&display=swap");
.gallery-fullscren {
  display: none;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.gallery-fullscren .thumbnailsFull {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 3rem;
  margin-left: 6rem;
  z-index: 999;
}
.gallery-fullscren .thumbnailsFull .thumbnailwraper {
  height: 2%;
  width: 10%;
}
.gallery-fullscren .thumbnailsFull .thumbnailwraper img {
  width: 55%;
  border-radius: 6%;
  cursor: pointer;
}
.gallery-fullscren .thumbnailsFull .thumbnailwraper img:hover {
  filter: opacity(0.5);
  border: 3px solid hsl(26deg, 100%, 55%);
  border-radius: 8%;
}
.gallery-fullscren .maingalleryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  margin-bottom: 1rem;
}
.gallery-fullscren .maingalleryItem img {
  width: 35%;
  cursor: pointer;
  border-radius: 6%;
}
.gallery-fullscren .leftArrow {
  display: block;
  background-image: url(/images/icon-previous.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: -1.5rem;
  z-index: 1;
  cursor: pointer;
}
.gallery-fullscren .rightArrow {
  display: block;
  background-image: url(/images/icon-next.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: -1.5rem;
  z-index: 1;
  cursor: pointer;
}
.gallery-fullscren .closeGallery {
  position: relative;
  left: 70%;
  display: block;
  background-image: url(/images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: -1.5rem;
  z-index: 1;
  cursor: pointer;
}

.enableBlur > * {
  filter: blur(4px);
}

.disableBlur {
  filter: blur(0);
}

.blurwithz {
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 80%;
  height: 15vh;
  border-bottom: 1px solid hsl(223deg, 64%, 98%);
}
header .navMenu {
  display: none;
}

.navLeft {
  display: flex;
  flex-direction: row;
}

.navContainer {
  display: flex;
}
.navContainer ul {
  cursor: pointer;
}
.navContainer li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 15vh;
}
.navContainer li:hover {
  border-bottom: 3px solid hsl(26deg, 100%, 55%);
  z-index: 1;
}
.navContainer a {
  padding: 1rem;
  text-decoration: none;
  color: hsl(219deg, 9%, 45%);
}
.navContainer a:hover {
  color: hsl(220deg, 13%, 13%);
}

.rightMenu {
  width: 20%;
}
.rightMenu .shopcart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rightMenu .shopcart a img {
  width: 50px;
}
.rightMenu .shopcart a img:hover {
  border: 3px solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
}
.rightMenu .shopcart .dropdowncart {
  cursor: pointer;
}
.rightMenu .shopcartNumber {
  position: relative;
  left: 10px;
  top: 8px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15px;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 40%;
  margin-right: -4rem;
  margin-top: -1rem;
  z-index: 1;
}
.rightMenu .shopcartNumber sub {
  color: hsl(0deg, 0%, 100%);
}

@media (max-width: 700px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid hsl(223deg, 64%, 98%);
  }
  header .logomenu {
    display: flex;
    align-items: center;
  }
  header .logomenu .navMenu {
    display: block;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .mainNav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
    transition: left 0.5s linear;
  }
  .navContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 50%;
    z-index: 3;
    background-color: hsl(0deg, 0%, 100%);
  }
  .navContainer ul {
    cursor: pointer;
  }
  .navContainer li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 8vh;
    color: hsl(0deg, 0%, 0%);
    font-weight: 700;
  }
  .navContainer li:hover {
    border-bottom: 3px solid hsl(26deg, 100%, 55%);
    z-index: 1;
  }
  .navContainer a {
    padding: 1rem;
    text-decoration: none;
    color: hsl(0deg, 0%, 0%);
  }
  .navContainer a:hover {
    color: hsl(220deg, 13%, 13%);
  }
  .rightMenu .shopcart {
    margin-right: 2rem;
  }
  .rightMenu .dropdowncart {
    margin-right: 1rem;
  }
  .rightMenu .shopcartNumber {
    width: 55%;
  }
  .activeMobile {
    left: 0;
    transition: left 0.5s linear;
  }
}
.dropdown {
  display: none;
  position: absolute;
  top: 12%;
  width: 18%;
  height: 25%;
  border-radius: 20px;
  box-shadow: 8px 8px 48px 0px rgb(33, 33, 33);
  background-color: hsl(0deg, 0%, 100%);
}
.dropdown .profile {
  width: 100%;
}
.dropdown .selecteditemimage {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.iteminCart {
  margin-top: 1rem;
}
.iteminCart img {
  width: 30%;
  border-radius: 5px;
}

.nameofproduct {
  margin-top: 1rem;
  margin-left: -7rem;
  font-size: 15px;
}
.nameofproduct p {
  margin-bottom: -1rem;
  color: hsl(219deg, 9%, 45%);
}
.nameofproduct .price {
  color: hsl(0deg, 0%, 0%);
  font-weight: bold;
}

.deleteItems {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: 2rem;
  cursor: pointer;
}

.toptext {
  width: 100%;
}
.toptext hr {
  border-top: 1px solid hsl(223deg, 64%, 98%);
}
.toptext p {
  font-weight: 700;
  margin-top: 1rem;
  margin-left: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.empty {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty p {
  color: hsl(219deg, 9%, 45%);
}

@media (max-width: 700px) {
  .dropdown {
    display: none;
    position: absolute;
    top: 16%;
    left: 9px;
    width: 95%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 8px 8px 48px 0px rgb(33, 33, 33);
    background-color: hsl(0deg, 0%, 100%);
    z-index: 2;
  }
}
.gallery {
  width: 55%;
  height: 75vh;
}
.gallery .thumbnails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 7rem;
}
.gallery .thumbnails .thumbnailwraper {
  height: 10%;
}
.gallery .thumbnails .thumbnailwraper img {
  width: 65%;
  border-radius: 6%;
  margin-left: -2rem;
  cursor: pointer;
}
.gallery .thumbnails .thumbnailwraper img:hover {
  filter: opacity(0.5);
  border: 3px solid hsl(26deg, 100%, 55%);
  border-radius: 8%;
}

.maingalleryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  margin-bottom: 1rem;
}
.maingalleryItem img {
  width: 65%;
  cursor: pointer;
  border-radius: 6%;
}

.active {
  filter: opacity(0.5);
  border: 3px solid hsl(26deg, 100%, 55%);
  border-radius: 8%;
}

@media (max-width: 700px) {
  .gallery {
    width: 100%;
    height: auto;
  }
  .gallery .thumbnails {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 7rem;
  }
  .gallery .thumbnails .thumbnailwraper {
    height: 10%;
  }
  .gallery .thumbnails .thumbnailwraper img {
    width: 100%;
    border-radius: 6%;
    margin-left: -2rem;
    cursor: pointer;
  }
  .gallery .thumbnails .thumbnailwraper img:hover {
    filter: opacity(0.5);
    border: 3px solid hsl(26deg, 100%, 55%);
    border-radius: 8%;
  }
  .maingalleryItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    margin-bottom: 1rem;
  }
  .maingalleryItem img {
    width: 100%;
    cursor: pointer;
    border-radius: 0%;
    pointer-events: none;
    transition: width 1s linear;
  }
  .arrowLeftMobile {
    display: block;
    background-image: url(../images/icon-previous.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: -3.5rem;
    z-index: 1;
    cursor: pointer;
  }
  .arrowRightMobile {
    display: block;
    background-image: url(../images/icon-next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: -3.5rem;
    z-index: 1;
    cursor: pointer;
  }
  .activeG {
    width: 100%;
    transition: width 1s linear;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
  margin-top: 3rem;
}

.rightContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8rem;
  height: 75vh;
  flex: 2;
}
.rightContent h1 {
  color: hsl(26deg, 100%, 55%);
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 1rem;
  font-weight: 700;
}
.rightContent h2 {
  width: 90%;
  font-size: 50px;
}
.rightContent p {
  color: hsl(219deg, 9%, 45%);
  text-align: left;
  margin-right: 5rem;
  margin-top: 4rem;
  width: 85%;
}

.pricewrapper .pricedisc {
  display: flex;
  align-items: center;
  margin-top: -3rem;
}
.pricewrapper p {
  color: hsl(0deg, 0%, 0%);
  font-weight: 700;
  font-size: 26px;
}
.pricewrapper .discount {
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  font-weight: 400;
  border-radius: 4px;
  font-size: 15px;
}

.orginal {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.orginalprice {
  color: hsl(219deg, 9%, 45%);
  font-weight: 700;
  text-decoration: line-through;
}

@media (max-width: 700px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 0rem;
  }
  .rightContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
    height: 75vh;
    flex: 2;
  }
  .rightContent h1 {
    color: hsl(26deg, 100%, 55%);
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 700;
  }
  .rightContent h2 {
    width: 90%;
    font-size: 30px;
  }
  .rightContent p {
    color: hsl(219deg, 9%, 45%);
    text-align: left;
    margin-right: 5rem;
    margin-top: 1rem;
    width: 85%;
  }
  .pricewrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .pricewrapper .pricedisc {
    display: flex;
    align-items: center;
    margin-top: -3rem;
  }
  .pricewrapper p {
    color: hsl(0deg, 0%, 0%);
    font-weight: 700;
    font-size: 26px;
  }
  .pricewrapper .discount {
    background-color: hsl(25deg, 100%, 94%);
    color: hsl(26deg, 100%, 55%);
    font-weight: 400;
    border-radius: 4px;
    font-size: 15px;
  }
  .orginal {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
input[type=number] {
  -moz-appearance: textfield;
  width: 22%;
  height: 8vh;
  background-color: hsl(223deg, 64%, 98%);
  font-size: 16px;
  text-align: center;
  outline: none;
  border: none;
  font-weight: 700;
}

#decrement {
  width: 8%;
  height: 8vh;
  margin-right: -1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: hsl(223deg, 64%, 98%);
  outline: none;
  border: none;
  cursor: pointer;
  color: hsl(26deg, 100%, 55%);
  font-size: 16px;
  background-image: url(../images/icon-minus.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

#increment {
  width: 8%;
  height: 8vh;
  margin-left: -1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: hsl(223deg, 64%, 98%);
  outline: none;
  border: none;
  cursor: pointer;
  color: hsl(26deg, 100%, 55%);
  font-size: 16px;
  background-image: url(../images/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.buttonCart {
  width: 45%;
  height: 8vh;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  font-weight: 700;
  background-image: url(/images/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 23% 50%;
  margin-left: 2rem;
  box-shadow: 8px 57px 85px -33px rgb(255, 140, 26);
  transition: width 0.5s linear;
}
.buttonCart:hover {
  opacity: 0.5;
  width: 50%;
  box-shadow: 8px 29px 52px -17px rgb(255, 140, 26);
  transition: width 0.5s linear;
}

.checkout {
  width: 95%;
  height: 45%;
  margin-left: 0.5rem;
  margin-top: 1rem;
  display: none;
}
.checkout .checkoutBtn {
  margin-left: 0.5rem;
  width: 95%;
  height: 45%;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  input[type=number] {
    -moz-appearance: textfield;
    width: 85%;
    height: auto;
    background-color: hsl(223deg, 64%, 98%);
    font-size: 16px;
    text-align: center;
    outline: none;
    border: none;
    font-weight: 700;
  }
  #decrement {
    display: block;
    width: 9%;
    height: 6.6vh;
    margin-left: 0rem;
    padding-top: 2.5rem;
    padding-bottom: 1.7rem;
    background-color: hsl(223deg, 64%, 98%);
    outline: none;
    border: none;
    cursor: pointer;
    color: hsl(26deg, 100%, 55%);
    font-size: 16px;
    background-image: url(../images/icon-minus.svg);
    background-repeat: no-repeat;
    background-position: 50%;
  }
  #increment {
    display: block;
    width: 10%;
    height: 6.6vh;
    margin-left: -1rem;
    padding-top: 2.5rem;
    padding-bottom: 1.7rem;
    background-color: hsl(223deg, 64%, 98%);
    outline: none;
    border: none;
    cursor: pointer;
    color: hsl(26deg, 100%, 55%);
    font-size: 16px;
    background-image: url(../images/icon-plus.svg);
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .buttonCart {
    width: 95%;
    height: 5vh;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: hsl(26deg, 100%, 55%);
    color: hsl(0deg, 0%, 100%);
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 700;
    background-image: url(../images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 23% 50%;
    margin-left: 0rem;
    box-shadow: 8px 57px 85px -33px rgb(255, 140, 26);
    transition: width 0.5s linear;
  }
  .buttonCart:hover {
    opacity: 0.5;
    width: 50%;
    box-shadow: 8px 29px 52px -17px rgb(255, 140, 26);
    transition: width 0.5s linear;
  }
  .toCart label {
    display: flex;
  }
  .closeMenuMobile {
    display: block;
    background-image: url(../images/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
  }
}
* {
  font-family: "Kumbh Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=style.css.map */