@use "../sass/components/fullscreengallery";
@use "../sass/components/nav";
@use "../sass/components/dropdown";
@use "../sass/abstracts/colors" as *;
@use "../sass/components/gallery";
body {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75%;
	height: 100%;
	margin-top: 3rem;
}
.rightContent {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 8rem;
	height: 75vh;
	h1 {
		color: $orange;
		text-transform: uppercase;
		font-size: 20px;
	}
	h2 {
		width: 50%;
		font-size: 50px;
	}
}
