@use "../abstracts/colors" as *;

.dropdown {
	display: none;
	position: absolute;
	top: 12%;
	width: 18%;
	height: 25%;
	border-radius: 20px;
	-webkit-box-shadow: 8px 8px 48px 0px rgba(33, 33, 33, 1);
	-moz-box-shadow: 8px 8px 48px 0px rgba(33, 33, 33, 1);
	box-shadow: 8px 8px 48px 0px rgba(33, 33, 33, 1);
	background-color: $white;
	.profile {
		width: 100%;
	}
	.selecteditemimage {
		display: none;
		flex-direction: row;
		justify-content: center;
		align-content: center;
		width: 100%;
	}
}
.iteminCart {
	margin-top: 1rem;
	img {
		width: 30%;
		border-radius: 5px;
	}
}
.nameofproduct {
	margin-top: 1rem;
	margin-left: -7rem;
	font-size: 15px;
	p {
		margin-bottom: -1rem;
		color: $dark-grayish-blue;
	}
	.price {
		color: $black;
		font-weight: bold;
	}
}
.deleteItems {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-left: 2rem;
	cursor: pointer;
}
.toptext {
	width: 100%;
	hr {
		border-top: 1px solid $light-grayish-blue;
	}
	p {
		font-weight: 700;
		margin-top: 1rem;
		margin-left: 2rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}
.empty {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	p {
		color: $dark-grayish-blue;
	}
}
